CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CMakeLists.txt.user

#Visual Studio
Debug/Johnny Castaway.exp
Debug/Johnny Castaway.lib
Release/Johnny Castaway.exp
Release/Johnny Castaway.lib
*.db
*.opendb
*.ipch
*.xml
*.lastcodeanalysissucceeded
*.tlog
*.log
*.idb
*.lastbuildstate
*.obj
*.ilk
*.pdb
*.exe

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
